*{
    margin: 0;
    padding: 0;
}
body{
    background: darkred;
    font-size: 14px;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: yellow;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: yellow;
    color: white;
}
h1{
    margin-bottom: 10px;
}